    * {
        box-sizing: border-box;
    }
    
    body {
        margin: 0px;
        font-family: "segoe ui";
    }
    
    .nav {
        height: 50px;
        width: 100%;
        background-color: white;
        position: relative;
    }
    
    .nav>.nav-header {
        display: inline;
    }
    
    .nav>.nav-header>.nav-title {
        display: block;
        font-size: 25px;
        color: rgb(48, 214, 164);
        padding: 10px 300px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    
    .nav>.nav-btn {
        display: none;
    }
    
    .nav>.nav-links {
        display: inline;
        float: right;
        font-size: 18px;
    }
    
    .nav>.nav-links>a {
        display: inline-block;
        padding: 13px 10px 13px 10px;
        text-decoration: none;
        color: #efefef;
    }
    
    .nav>.nav-links>a:hover {
        background-color: rgba(0, 0, 0, 0.3);
    }
    
    .nav>#nav-check {
        display: none;
    }
    
    @media (max-width: 600px) {
        .nav>.nav-btn {
            display: inline-block;
            position: absolute;
            right: 0px;
            top: 0px;
        }
        .nav>.nav-btn>label {
            display: inline-block;
            width: 50px;
            height: 50px;
            padding: 13px;
        }
        .nav>.nav-btn>label:hover,
        .nav #nav-check:checked~.nav-btn>label {
            background-color: rgba(0, 0, 0, 0.3);
        }
        .nav>.nav-btn>label>span {
            display: block;
            width: 25px;
            height: 10px;
            border-top: 2px solid #eee;
        }
        .nav>.nav-links {
            position: absolute;
            display: block;
            width: 100%;
            background-color: #333;
            height: 0px;
            transition: all 0.3s ease-in;
            overflow-y: hidden;
            top: 50px;
            left: 0px;
        }
        .nav>.nav-links>a {
            display: block;
            width: 100%;
        }
        .nav>#nav-check:not(:checked)~.nav-links {
            height: 0px;
        }
        .nav>#nav-check:checked~.nav-links {
            height: calc(100vh - 50px);
            overflow-y: auto;
        }
    }
    
    #image-container {
        height: 580px;
        background-color: rgb(68, 189, 153);
        /* For browsers that do not support gradients */
        background-image: linear-gradient(to right, rgb(57, 201, 198), rgb(45, 197, 146));
    }
    
    .center {
        width: 100%;
        max-width: 1000px;
        height: auto;
        padding: 35px 50px;
        float: right;
    }
    
    .large_text {
        font-size: 2.5vw;
        width: 100%;
        max-width: 1000px;
        height: auto;
        padding-left: 230px;
        padding-top: 85px;
        color: white;
        font-family: 'Poppins', sans-serif;
    }
    
    .small_text {
        padding-left: 230px;
        padding-top: 35px;
        color: white;
        font-size: 23px;
        font-family: 'Poppins', sans-serif;
        font-weight: lighter;
        /* font-family: 'Montserrat', sans-serif;
        font-family: 'Poppins', sans-serif; */
    }
    
    .button {
        border-radius: 50px;
        background-color: white;
        border: none;
        color: #07f8e0;
        text-align: center;
        font-size: 19px;
        padding: 25px 10px;
        width: 190px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 43px 225px;
    }
    
    #second_div {
        background-color: #f1f1f1;
    }
    
    .div_text {
        font-size: 23px;
        padding-top: 8%;
        text-align: center;
        color: #1ad5c2;
    }
    
    .div_text2 {
        font-size: 40px;
        padding-top: 0.8%;
        text-align: center;
        color: black;
    }
    
    .div_text3 {
        font-size: 20px;
        text-align: center;
        padding-top: 0.8%;
        padding-bottom: 3%;
        color: rgb(131, 124, 124);
    }
    
    form.example input[type=text] {
        padding: 25px;
        font-size: 18px;
        border: none;
        float: left;
        width: 70%;
        background: #f1f1f1;
    }
    
    form.example button {
        float: left;
        width: 30%;
        padding: 25px;
        background: rgb(13, 223, 108);
        color: white;
        font-size: 17px;
        border: none;
        border-left: none;
        cursor: pointer;
    }
    
    form.example::after {
        content: "";
        clear: both;
        display: table;
    }
    
    #border_line {
        padding-top: 20px;
        padding-bottom: 20px;
        border-style: solid;
        border-width: 1px;
        border: 1px solid rgb(13, 223, 108);
    }
    
    .div_text4 {
        font-size: 19px;
        padding-top: 0.8%;
        padding-bottom: 8%;
        text-align: center;
        color: #1ad5c2;
    }
    
    .col {
        padding-top: 4%;
        padding-bottom: 9%;
        text-align: center;
        border-radius: 10px 10px 10px 10px;
        /* border: 5px solid black; */
    }
    
    .card-title {
        font-size: 30px;
    }
    
    .card-title_2 {
        padding-top: 25%;
        font-size: 50px;
    }
    
    #fourth_div {
        background-color: #f1f1f1;
    }
    
    #button_start {
        border-radius: 50px;
        background-color: rgb(178, 218, 221);
        border: none;
        color: #2041af;
        text-align: center;
        font-size: 19px;
        padding: 20px 20px;
        width: 190px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 20px 0px;
    }
    
    #div_tag {
        border-radius: 0px 0px 10px 10px;
        /*Top Left (TL) Top Right (TR) Bottom Right (BR) Bottom Left (BL)*/
        background-color: rgb(30, 142, 212);
        color: white;
        margin-left: 25%;
        margin-right: 25%;
        height: 40px;
        text-align: center;
        font-size: 23px;
        font-family: 'Poppins', sans-serif;
    }
    
    .card-text_2 {
        font-size: 20px;
        padding-top: 3%;
        text-align: center;
    }
    
    #fifth_div {
        /* background-image: -webkit-gradient(linear, top, rgba(0, 0, 0, 0.5), rgba(200, 20, 200, 0.5)), url("web_fun.webp"); */
        /* background-image: url("web_fun.webp"); */
        background: linear-gradient(to right, rgba(70, 131, 128, 0) 1%, rgb(16, 211, 152, 1)), url("web_fun.webp");
        max-width: 100%;
        height: auto;
        padding-bottom: 200px;
        color: white
    }
    
    .div_fifth {
        padding-top: 10%;
        text-align: center;
    }
    
    .div_fifth2 {
        padding-top: 1%;
        text-align: center;
    }
    
    .col_section {
        padding-top: 25%;
        text-align: center;
        /* padding-left: 20px;
    padding-right: 20px; */
    }
    
    .div_sixth {
        padding-top: 4%;
        text-align: center;
        padding-bottom: 2%;
    }
    
    .col-4 {
        text-align: center;
    }
    
    #sixth_div {
        padding-bottom: 100px;
    }
    
    .submit_button {
        border-radius: 50px;
        background-color: rgb(178, 218, 221);
        border: none;
        color: #2041af;
        text-align: center;
        font-size: 15px;
        padding: 10px 10px;
        width: 150px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 10px 200px;
    }
    
    .footer {
        background-color: lightseagreen;
        padding-top: 10%;
        text-align: center;
        color: white;
        padding-bottom: 13%;
    }
    
    .submit_button_2 {
        border-radius: 50px;
        background-color: rgb(178, 218, 221);
        border: none;
        color: #2041af;
        text-align: center;
        font-size: 16px;
        padding: 15px 15px;
        width: 150px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px 5px;
    }
    
    .card-text_3 {
        font-size: 25px;
        padding-top: 5%;
        text-align: left;
        padding-bottom: 5%;
    }
    
    .col_section_2 {
        font-size: 29px;
        text-align: left;
    }